.jumbotron p.text-right {
    margin-top:10% ;
    margin-bottom:0 ;
    text-align: right;
    
}

.jumbotron {
    margin-bottom:9% !important;
    
}


form button{
    width:80%;
    /* margin-left:10%; */
    background-color: rgb(32, 134, 49) !important;
}


footer {
    margin-top: 10% !important;

}
    
footer h6 {
    font-size: 0.8rem;
}



/* DESKTOP ONLY CHANGES */
@media only screen and (min-width: 992px) {
    
    .jumbotron p.text-right {
       
        margin-bottom: 0;
        text-align: right;
    }

    .jumbotron {
        margin-bottom: 1% !important;
    }

} 