.centroid img {
    height: 300px;
    /* width: 100%; */
    max-width: 100%;
}

h2 {
    text-align:center;
}

.centroid-track-name {
    text-align: center;
    margin-top: 5%;

}

ol li span {
    line-height: 2.5;
}


.jumbotron {
    padding-top:0;
}

.centroid{
    padding:0;

}

.cluster {
    margin-top: 0;
}

.closest-tracks{
    padding-left:0;
    margin-top: 5%;
}

h4 h5 {
    font-size:0.9rem;
}


.publish-row {
    text-align: center;
}

.deploy-button {
    /* max-width: 85%; */
    font-size: 16px;
    /* margin-left: 14%; */
    margin-top: 5%;
}







/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
} 



/* DESKTOP ONLY CHANGES */
@media only screen and (min-width: 992px) {
    

}


